<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for category in categories %}
    <a href = "{% url 'posts:category' category.slug %}">
        {{category.name}}</a>
    {% endfor %}
    <br>
    
    {% if request.user.is_authenticated %} 
    nickname : {{request.user.nickname}} <Br>
    <a href = "{% url 'accounts:mypage' %}">마이페이지</a> <br>
    <a href = "{% url 'accounts:logout' %}">로그아웃</a>
    {% endif %}


    {% for category in categories %}
        <h3>
            <a href="{% url 'posts:category' category.slug %}">
                {{ category.name }}
            </a>
        </h3>

        {% for post in category.posts.all|slice:":4" %}
            <a href="{% url 'posts:detail' post.id %}">
                {{ post.title }}</a><br>
        {% empty %}
            <p>게시글이 없습니다.</p>
        {% endfor %} <br>
    {% endfor %}


</body>
</html>